
@layer base {
  .theme {
    --animate-marquee: marquee var(--duration, 30s) linear infinite
  }
  :root {
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9
  }
  .dark {
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes marquee {
  to {
    transform: translateX(-50%);
    }
  }
}